/* Universal Selector */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300&display=swap');

/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'lato', sans-serif;
  color: black;
}

a {
  color: rgba(255, 229, 92, 0.59);
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}
/* All images used must not be larger than parent container */
img {
  width: 105%;
}
/* styling not added on list items */
li {
  list-style-type: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

footer {
  background-color: #6c3515;
  padding: 20px 10px;
}

footer a {
  color: white;
  margin: 0 10px;
}
footer a:hover {
  color: #884017;
  border-bottom: 2px solid #884017;
}

/* This container, center it, sets a maximum width and makes sure elements can flow past it */

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}
/* Set the background color, height and padding */
.navbar {
  background-color: #884017;
  height: 70px;
  padding: 0 30px;
}
/* I set the font size, reduced font-weight, added margin and line height */
.navbar h1 {
  color: rgba(255, 229, 92, 0.59);
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}
/* I changed color to rgba 255, 229, 92, 0.59 to both links, added padding between them and margin as well */
.navbar a {
  color: rgba(255, 229, 92, 0.59);
  padding: 9px;
  margin: 0 10px;
}

.navbar a:hover {
  color: #6c3515;
  border-bottom: 3px solid #6c3515;
}

.showcase {
  height: 300px;
  background-color: #884017;
}
/* added a margin below the text */
.showcase p {
  margin-bottom: 30px;
}
/* added a shadow below the image with color */
.showcase img {
  box-shadow: 7px 7px 7px rgba(255, 229, 92, 0.59);
}
/* added some padding on the form content */
.showcase-form {
  padding-left: 7px;
}

.grid-item-1,
.grid-item-2 {
  position: relative;
  top: 50px;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;
}

.showcase input[type='email'] {
  padding: 10px 70px 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
}

.btn {
  border-radius: 6px;
  padding: 12px 20px;
  background: #6c3515;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.showcase-text {
  color: rgba(255, 229, 92, 0.59);
}
.showcase-form {
  margin: auto;
}

.little-info {
  font-size: 45px;
  font-family: 'poppins', sans-serif;
  color: rgba(255, 229, 92, 0.59);
}
/*Centers the container and sets a maximum width */
.lower-container {
  margin: 120px auto;
  padding: 0;
  max-width: 1400px;
  text-align: center;
}
/* Targets all h3 with class of title */
.title {
  color: black;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}
/* Targets the paragraphs with class name of text */
.text {
  color: black;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  margin: 0, 20px;
  text-align: justify;
}
/* added flexbox to display horziontally, put a little space around them */
.flex {
  display: flex;
  justify-content: space-around;
}
/* added some padding around the container and aligned text centrally */
.stats {
  padding: 45px 50px;
  text-align: center;
}
/* Set margin and width */
.stat {
  margin: 0 30px;
  text-align: center;
  width: 800px;
}

.stats .fa {
  color: black;
}

.testimonials {
  color: black;
  padding: 40px;
}
/* added clip-path Css property, allows you to specify a specific region of an element to display, with the rest being hidden or "clipped" away. 
Inspiration -https://css-tricks.com/almanac/properties/c/clip-path/ */
.testimonials img {
  height: 105%;
  clip-path: circle();
}

.testimonials h3 {
  text-align: center;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.circle {
  background-color: transparent;
  border: 3px solid purple;
  height: 90px;
  position: relative;
  top: -30px;
  left: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 90px;
}

/* Mobile devices */
@media (max-width: 500px) {
  .navbar {
    height: 100px;
  }
  /* changes the alignment. the logo title stays at the top and the nav links will be below it */
  .navbar .flex {
    flex-direction: column;
  }

  .navbar a:hover {
    color: white;
    border-bottom: 2px solid white;
  }

  .navbar ul {
    background: #6c3515;
    border-radius: 5px;
    padding: 10px 0;
  }
  /* Align text to center */
  .showcase {
    height: auto;
    text-align: center;
  }
  /* Reduces font size */
  .little-info {
    font-size: 13px;
  }
  /* Reduces image width */
  .image {
    width: 350px;
    margin-left: 70px;
  }

  .stat {
    margin-bottom: 40px;
  }

  .circle {
    background-color: transparent;
    border: 3px solid purple;
    height: 90px;
    position: relative;
    top: -30px;
    left: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
  }
}
